@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --color-background: #FAFAFA;
  --color-foreground: #111111;
  --color-accent: #C9A96E;
  
  --color-white: #FFFFFF;
}

:root {
  --background: #FAFAFA;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #FAFAFA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
